@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Permanent+Marker&family=Righteous&family=Tac+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.tac-one-regular {
  font-family: "Tac One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body{
  @apply bg-gray-800;
}
